#countdown {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
}

  #countdown span.startStop {
    display: grid;
    grid-template-rows: 3fr 5fr 1fr 5fr 3fr;
  }

    #countdown span.startStop img {
      filter: invert(99%) sepia(73%) saturate(1888%) hue-rotate(19deg) brightness(91%) contrast(72%);
    }

  #countdown .start {
    height: 6vh;
    grid-row-start: 2;
    grid-row-end: 3;
    color: orange;
  }

  #countdown .stop {
    height: 6vh;
    grid-row-start: 4;
    grid-row-end: 5;
  }

#scoreboardLayout {
  width: 70vw!important;
}
  #scoreboardLayout img.reset {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 4vh;
    filter: invert(99%) sepia(73%) saturate(1888%) hue-rotate(19deg) brightness(91%) contrast(72%);
  }

.white {
  text-align: left;
}

.red {
  text-align: right;
}

  .white.score {
    border-right: none;
    color: white;
    padding-left: 4vw;
  }

  .red.score {
    border-left: none;
    color: red;
    padding-right: 4vw;
  }

  .white.opponent {
    border-right: 1px dotted gray!important;
  }

  .red.opponent {
    border-left: 1px dashed red!important;
  }

  #repertoire {
    color: yellow;
    list-style-type: none;
    padding: 30px;
    margin: 0;
  }

  #repertoire li::before {
    content: "\2022";
    color: rgba(0,0,0,0);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  #repertoire li.running::before {
    color: green;
  }
  #repertoire li.completed::before {
    color: red;
  }

    #entryJig {
      display: none;
    }

  .shidoBox {
    margin: 0 !important;
  }

    .triangle {
      width: 0;
      height: 0;
      border-left: 7vh solid transparent;
      border-right: 7vh solid transparent;
      font-size: 0;
      line-height: 0;
      margin: 1.5vh 2vh;
    }

      .triangle.down {
        border-top: 1.5vh solid #2f2f2f;
      }
      .triangle.up {
        border-bottom: 1.5vh solid #2f2f2f;
      }

#control {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 70vw;
  top: 0;
  height: 100vh;
}

  #remoteIndicator {
    color: floralwhite;
    width: 30vw;
    padding: 5px;
    text-align: center;
  }
    .on {
      background-color: green;
    }
    .off {
      background-color: firebrick;
    }
      .on .onLabel,
      .off .offLabel {
        display: inline;
      }
      .off .onLabel,
      .on .offLabel {
        display: none;
      }

  #menue {
    margin-top: auto;
    text-align: right;
    padding: 6px 10px;
    background-color: darkgray;
  }
    #menue img.settings {
      height: 5vh;
    }
