#countdown {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
}

  #countdown span.startStop {
    display: grid;
    grid-template-rows: 3fr 5fr 1fr 5fr 3fr;
  }

  #countdown .start {
    height: 8vh;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #countdown .stop {
    height: 8vh;
    grid-row-start: 4;
    grid-row-end: 5;
  }

#scoreboardLayout {
  width: 70vw!important;
}
  #scoreboardLayout img.absolute {
    position: absolute;
    height: 4vh;
  }

  #scoreboardLayout img.reset {
    top: 20px;
    left: 20px;
  }
  #scoreboardLayout img.finish {
    top: 20px;
    right: calc(30vw + 22px);
  }
  #scoreboardLayout img.toketa {
    top: calc(30vh + 23px);
    left: calc(35vw - 2vh);
    filter: invert(100%) sepia(2%) saturate(112%) hue-rotate(41deg) brightness(117%) contrast(100%);
  }
  #scoreboardLayout img.osaekomi-left{
    top: calc(35vh + 23px);
    left: calc(35vw - 6vh);
    filter: invert(100%) sepia(2%) saturate(112%) hue-rotate(41deg) brightness(117%) contrast(100%);
  }
  #scoreboardLayout img.osaekomi-right {
    top: calc(35vh + 23px);
    left: calc(35vw + 2vh);
    filter: invert(100%) sepia(2%) saturate(112%) hue-rotate(41deg) brightness(117%) contrast(100%);
  }

.white {
  text-align: left;
}

.red {
  text-align: right;
}
  span.white, span.red {
    padding: 3px 5px;
    line-height: 27px;
  }

  .white.score {
    border-right: none;
    color: black;
    padding-left: 4vw;
    text-align: center;
  }

  .red.score {
    border-left: none;
    color: white;
    padding-right: 4vw;
    text-align: center;
  }

  .white.opponent {
    border-right: 1px dotted gray!important;
  }

  .red.opponent {
    border-left: 1px dashed red!important;
  }

  #repertoire {
    color: yellow;
    list-style-type: none;
    padding: 30px;
    margin: 0;
  }

  #repertoire li::before {
    content: "\2022";
    color: rgba(0,0,0,0);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  #repertoire li.selected::before {
    content: "\27A2";
    color: white;
  }
  #repertoire li.running::before {
    color: green !important;
  }
  #repertoire li.completed::before {
    color: red !important;
  }

    #entryJig {
      display: none;
    }

    #repertoire img.history {
      vertical-align: middle;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(247deg) brightness(103%) contrast(101%);
    }

  .shidoBox {
    margin: 0 !important;
  }

    .triangle {
      width: 0;
      height: 0;
      border-left: 7vh solid transparent;
      border-right: 7vh solid transparent;
      font-size: 0;
      line-height: 0;
      margin: 1.5vh 2vh;
    }
      .red .triangle {
        border-top-color: whitesmoke !important;
        border-bottom-color: whitesmoke !important;
      }

      .triangle.down {
        border-top: 1.5vh solid #2f2f2f;
      }
      .triangle.up {
        border-bottom: 1.5vh solid #2f2f2f;
      }

#control {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 70vw;
  top: 0;
  height: 100vh;
}

  #remoteIndicator {
    color: floralwhite;
    width: 30vw;
    padding: 5px;
    text-align: center;
  }
    .on {
      background-color: green;
    }
    .off {
      background-color: firebrick;
    }
      .on .onLabel,
      .off .offLabel {
        display: inline;
      }
      .off .onLabel,
      .on .offLabel {
        display: none;
      }

  #menue {
    margin-top: auto;
    padding: 6px 10px;
    background-color: darkgray;
  }
    #menue img.settings,
    #menue img.opponents {
      height: 5vh;
    }

    #menue img.opponents {
      float: right;
    }
